.anime-content {
    width: 100%;
    animation: fadeIn 1s;
    padding-bottom: 40px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.anime-content-title,
.anime-content-title-synopsis,
.anime-content-synopsis-content {
    margin: 0;
    color: var(--color-white);
}

.anime-content-title {
    background-color: var(--color-base-4);
    padding: 10px 20px;
}
.anime-content-title-synopsis {
    background-color: var(--color-base-6);
    padding: 10px 20px;
}
.anime-content-synopsis-content {
    background-color: var(--color-base-6);
    padding: 10px 20px;
    font-size: 18px;
}
.anime-content-episode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.anime-content-episode .current-episode {
    color: var(--color-base-1);
    font-size: 2.5em;
}
.anime-content-episode .age {
    width: 80px;
    height: 80px;
}
.anime-content-episode .age img {
    width: 100%;
}
.view-episode {
    width: 100%;
    background-color: var(--color-base-7);
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-episode .load {
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 10px var(--color-base-3);
    border-radius: 10px;
    overflow: hidden;
}
.view-episode .load iframe {
    border: none;
    width: 90vw;
    height: calc(90vw * 9 / 16);
    max-width: 1000px;
    max-height: calc(1000px * 9 / 16);
}
.list-episodes {
    width: calc(100% - 40px);
    max-width: 500px;
    max-height: calc(56px * 5);
    overflow: auto;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-episodes::-webkit-scrollbar {
    width: 0px;
}
.list-episodes .btn-episode {
    transition: 200ms;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    background-color: var(--color-base-6);
    color: var(--color-white);
    border-radius: 10px;
    cursor: pointer;
}
.list-episodes .btn-episode:hover:not(.selected) {
    background-color: var(--color-base-4);
}
.list-episodes .btn-episode.selected {
    background-color: var(--color-base-2);
}
.actionButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}
.actionButtons .prev,
.actionButtons .next {
    transition: 200ms;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base-4);
    color: var(--color-white);
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    gap: 6px;
}
.actionButtons .prev:not(.forbidden):hover,
.actionButtons .next:not(.forbidden):hover {
    background-color: var(--color-base-2);
}
.actionButtons .prev.forbidden,
.actionButtons .next.forbidden {
    opacity: 0.6;
}

@media (max-width: 500px) {
    .anime-content-title {
        font-size: 24px;
    }
    .anime-content-synopsis-content {
        font-size: 16px;
    }
    .actionButtons .prev span,
    .actionButtons .next span {
        display: none;
    }
}
