.cabecalho {
    width: 100%;
    background-color: var(--color-base-6);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cabecalho .logo {
    background-color: var(--color-base-5);
    color: var(--color-white);
    min-width: 65px;
    min-height: 65px;
    border-radius: 50%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border: 3px solid var(--color-base-1);
}
.cabecalho .logo .part-1 {
    font-size: 24px;
}
.cabecalho .logo .part-2 {
    font-size: 12px;
}
